*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}

body{
    background-color: #cff7fc;
} 

.name{
    margin-left: 138px;
    margin-right: 30px;
    margin-top: 45px;
    color:#0aabbf;
    font-size: 22px;
    font-weight: bolder;
}

.nav-item{
    margin-top: 45px;
    margin-right: 15px;
    color: black;
}

nav ul {
    list-style: none;
    margin-top: 30px;
}

nav li {
    display: inline-block;
    position: relative;
}

nav a {
    text-decoration: none;
}

.nav-item:hover{
    color:#0aabbf;
    transition: all ease-in-out .2s;
}

#title{
    position: relative;
    display: inline;
    color: white;
    margin-top: 40px;
    font-size: 30px;
    margin-left: 50px;
    padding-bottom: 30px;

}

#main-image{
    position: relative;
    display: inline;
    width: 512px;
    height: 384px;
    margin-left: 50px;
    padding-top: 30px;
}

#intro{
    display: inline-block;
    display: flex;
    align-items: center;
    margin-top: 35px;
    background-color: #a9defc;
    border-radius: 60px;
    width: 80%;
}

#button-bar{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(207, 247, 252, .6);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    backdrop-filter: blur(3px);
    position: sticky;
    top: 0px;
    z-index: 2
}

.nav-button{
    border-radius: 30px;
    height: 50px;
    width: 130px;
    border: 2px solid #0aabbf;
    color: #0aabbf;
    background-color: white;
    transition: .2s all ease-in-out;
    box-shadow: 1px 1px 5px black;
}

.nav-button:hover{
    background-color: #0aabbf;
    color: white;
    border: 2px solid white;

}

#description{
    background-color: #a9defc;
    width: 100%;
    display: flex;
   justify-content: center;
    flex-direction: column;
}

#description-text{
    color: #0aabbf;
    width: 60%;
    font-size: 18px;
    border: 3px solid #0aabbf;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 30px;
}
#description-text2{
    color: black;
    width: 60%;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 30px;
}

#interviews{
    background-color: #cff7fc;
    width: 100%;
    margin-bottom: 400px;

}

#interview-images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

#interview-images img{
    height: 200px;
    width: 150px;
    transition: all .2s ease-in-out;
}
#interview-images img:hover{
    opacity: .5;
}
#empathy-maps{
    background-color: #a9defc;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#empathy-maps img{
    width:1100px;
    height: 373.5px;
    margin-bottom: 30px;
}

#storyboard{
    background-color: #cff7fc;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

#storyboard img{
    max-width: 596px;
    max-height: 844px;
}

.item-header{
    color: #0aabbf;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.item-header2{
    color: black;
    display: flex;
    justify-content: center;
    margin: 20px;
}


#footer{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    background-color: #a9defc;
    margin-top: 20px;
}

#questions{
    line-height: 1.5;
    list-style: none;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

.image-over-text1{
    position: absolute !important;
    left: 1%;
}
.image-over-text2{
    position: absolute !important;
    left: 35%;
}
.image-over-text3{
    position: absolute !important;
    left: 68.3%;
}

.image-text{
    background-color: #cff7fc;
    opacity: 0;
    position: absolute;
    color: #0aabbf;
    width: 440px;
    height: 370px;
    font-size: 12px;
    border: 4px solid #0aabbf;
    border-radius: 50px;
    transition: all .5s ease-in-out;
}
.front-image{
    opacity: 1;
    background-color: #0aabbf;
    position: absolute;
    width: 440px;
    height: 370px;
    border: 4px solid white;
    border-radius: 50px;
    transition: all .5s ease-in-out;
}

.image-over-text-title{
    margin-top: 160px;
    font-size: 20px;
    color: white;
}

.front-image:hover{
    opacity: 0;
}

.image-text:hover{
    opacity: 1;
}

.interview-notes{
    position: relative !important;
    font-size: 16px;
    justify-content: center;
    margin-top: 50px;
    padding: 10px;
}