*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}

body{
    background-color: white;
} 

.name{
    margin-left: 138px;
    margin-right: 30px;
    margin-top: 45px;
    color: #7ba941;
    font-size: 22px;
    font-weight: bolder;
}

.name:hover{
    color: #7ba941 !important;
}

.nav-item{
    margin-top: 45px;
    margin-right: 15px;
    color: black;
}

nav ul {
    list-style: none;
    margin-top: 30px;
}

nav li {
    display: inline-block;
    position: relative;
}

nav a {
    text-decoration: none;
}

.nav-item:hover{
    color:#7ba941;
    transition: all ease-in-out .2s;
}

#title{
    position: relative;
    display: inline;
    color: #6d7075;
    margin-top: 40px;
    font-size: 30px;
    margin-left: 170px;
    padding-bottom: 30px;

}

#main-image{
    position: relative;
    display: inline;
    width: 512px;
    height: 384px;
    margin-left: 50px;
    padding-top: 30px;
}

#intro{
    display: inline-block;
    display: flex;
    align-items: center;
    margin-top: 35px;
    background-color: #e9edf0;
    border-radius: 60px;
    width: 80%;
}

#button-bar{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, .6);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    backdrop-filter: blur(3px);
    position: sticky;
    top: 0px;
    z-index: 2;
}

.nav-button{
    border-radius: 30px;
    height: 50px;
    width: 130px;
    border: 2px solid #7ba941;
    color: #7ba941;
    background-color: white;
    transition: .2s all ease-in-out;
    box-shadow: 1px 1px 5px black;
}

.nav-button:hover{
    background-color: #7ba941;
    color: white;
    border: 2px solid white;

}

#description-text{
    color: #7ba941;
    width: 60%;
    font-size: 18px;
    border: 3px solid #7ba941;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 30px;
}

#description-text2{
    color: white;
    width: 60%;
    font-size: 18px;
    border: 3px solid white;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 30px;
}



#usability{
    background-color: #e9edf0;
    width: 100%;
    display: flex;
   justify-content: center;
    flex-direction: column;
}

#infographic{
    border: none;
    width: 600px;
    height: 650px;
    margin-bottom: 20px;
}

#lo-fi{
    background-color: #7ba941;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#ipad{
    height: 751.8px;
    width: 581.4px;
}

#iphone{
    height: 737.6px;
    width: 380px;
}

#browser{
    height: 729.5px;
    width: 970px;
}


#vs-guide{
    background-color: #e9edf0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#style-guide{
    border: none;
    height: 478px;
    width: 1200px;
    margin-bottom: 20px;
}

#hi-fi{
    background-color: #7ba941;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#ipad2{
    height: 718.2px;
    width: 608.4px;
}

#iphone2{
    width: 366.3px;
    height: 669.6px;
}

#browser2{
    height: 715px;
    width: 775px;
}

#redesign{
    background-color: #e9edf0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item-header{
    color: #7ba941;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.item-header2{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#footer{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    background-color: white;
    margin-top: 20px;
}

#site-links{
    font-size: 45px;
    margin-bottom: 20px;

}
#site-links a{
    text-decoration: none;
    margin: 30px;
    transition: all .2s ease-in-out;
    
}
#site-links a:hover{
   opacity: .5;
    
}

#site-links img{
    width: 200px;
    height: 53.1px;
}